/* centrovani obsahu */
@mixin center{

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* uprava headeru a menu v nem*/
#header{
    @include center();
  
    background: #D05A00;

  
    li{      
        position: relative;
        left: -73px;
     list-style-type: none;
     padding-left: 50px;
    

    } 
    #logo{

        width: 50px;
    }

    a{
        padding: 5px;
        border: 1px solid #29241E;
        border-radius: 4px;
        transition: all .2s ease-in;
        background:#29241E; 
    }

    a:focus{
        outline: none;
    }

    a:hover {
        background: #29241E;
        cursor: pointer;
     }


}



