$a-tags: "a, a:active, a:hover";
$a-tags-hover: "a:active, a:hover";
$a-tags-visited: "a:visited";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "./header";

@mixin advancedColor {
  background: #d05a00;
}

@mixin basicLegendColor {
  // background-color:  #6ACBDE;
  background: rgb(86, 76, 240);
  background: linear-gradient(9deg, rgba(86, 76, 240, 1) 0%, rgba(0, 212, 255, 1) 65%);
}
/* odkazy */
#{$a-tags} {
  color: #fefff8;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: #fefff8;
}

body {
  font-family: "Open Sans", sans-serif;

  background-color: #fefff8;
}

footer {
  @include center();
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;

  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}
.content {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.images {
  width: 450px;
  border-radius: 5%;
}

#mail {
  color: black;
}

#mail:hover {
  color: blue;
}

/* uprava textoveho a obrazkoveho kontejneru v sekci "Vzdelani"*/
.section-container {
  @include center();
  display: grid;
  grid-template-columns: 500px 550px;
  grid-template-areas:
    "text text"
    "images info";

  .text {
    grid-area: text;
  }
  .image {
    grid-area: images;
  }

  .info {
    grid-area: info;
  }
}

/* itemy v indexu ve fullscreen obrazovce */
#section-abilities {
  display: grid;
  grid-gap: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 330px 330px 330px;

  .ability {
    position: relative;
    padding-bottom: 50px;
    border: 1px solid;
    border-width: 1px;
    border-color: rgb(105, 105, 105);
    @include basicLegendColor();

    border-radius: 5%;
    transition: all 0.2s ease-in-out;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(110, 110, 110, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(110, 110, 110, 1);
    box-shadow: 10px 10px 5px 0px rgba(110, 110, 110, 1);

    .hidden {
      display: none;
    }
    .logo {
      width: 50px;
    }
  }

  .advanced {
    @include advancedColor();
  }

  .ability:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(110, 110, 110, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(110, 110, 110, 1);
    box-shadow: 10px 10px 5px 0px rgba(110, 110, 110, 1);

    .hidden {
      display: block;
    }

    p {
      display: none;
    }

    .logo {
      display: none;
    }
  }

  .ability:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 5%;
    border-width: 2px;

    z-index: -1;
  }
}

.legend {
  display: flex;
  justify-content: center;

  .ability {
    @include basicLegendColor();
  }
  .advanced {
    @include advancedColor();
  }
  p {
    margin: 50px;
    padding: 5px;
    border: 2px solid;
    border-width: 2px;
    background-color: lime;
  }
}

@media screen and (min-width: 1200px) {
  #section-abilities {
    .ability:hover {
      transform: translate(-5px, -5px);
      overflow: auto;
      margin: -50px;
      padding: 50px;
    }
  }
}

/* Stredne velka obrazovka*/
@media screen and (max-width: 1200px) {
  #header {
    li {
      left: -71px;
    }
  }

  html {
    font-size: 50%;
  }
  #section-abilities {
    grid-template-columns: 330px;
    row-gap: 30px;
    flex-direction: column;

    .ability {
      .hidden {
        display: block;
      }
      p {
        display: none;
      }

      .logo {
        display: none;
      }
    }

    .ability:hover {
      -webkit-box-shadow: 10px 10px 5px 0px rgba(110, 110, 110, 1);
      -moz-box-shadow: 10px 10px 5px 0px rgba(110, 110, 110, 1);
      box-shadow: 10px 10px 5px 0px rgba(110, 110, 110, 1);
    }
  }

  .text {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .images,
  .section-container {
    text-align: center;
    grid-column: 2/3;
    width: 50%;
    margin-left: -80px;
  }

  .text {
    margin-left: +530px;
  }

  .images {
    margin-left: +140px;
  }
}
/* Mensi obrazovka*/
@media screen and (max-width: 650px) {
  .section-container {
    margin-left: -50px;
    text-align: left;
    width: 50%;
    .text {
      width: 500px;
      margin-left: 310px;
    }

    .info {
      max-width: 300px;
    }
    .info {
      margin-left: +20px;
    }
    .images {
      margin-left: +20px;
    }
  }
}
