@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* centrovani obsahu */
/* uprava headeru a menu v nem*/
#header {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #D05A00;
}

#header li {
  position: relative;
  left: -73px;
  list-style-type: none;
  padding-left: 50px;
}

#header #logo {
  width: 50px;
}

#header a {
  padding: 5px;
  border: 1px solid #29241E;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background: #29241E;
}

#header a:focus {
  outline: none;
}

#header a:hover {
  background: #29241E;
  cursor: pointer;
}

/* odkazy */
a, a:active, a:hover {
  color: #fefff8;
  text-decoration: none;
}

a:active, a:hover {
  color: #fefff8;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fefff8;
}

footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.images {
  width: 450px;
  border-radius: 5%;
}

#mail {
  color: black;
}

#mail:hover {
  color: blue;
}

/* uprava textoveho a obrazkoveho kontejneru v sekci "Vzdelani"*/
.section-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: grid;
  -ms-grid-columns: 500px 550px;
      grid-template-columns: 500px 550px;
      grid-template-areas: "text text" "images info";
}

.section-container .text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
}

.section-container .image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: images;
}

.section-container .info {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: info;
}

/* itemy v indexu ve fullscreen obrazovce */
#section-abilities {
  display: -ms-grid;
  display: grid;
  grid-gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-grid-columns: 330px 330px 330px;
      grid-template-columns: 330px 330px 330px;
}

#section-abilities .ability {
  position: relative;
  padding-bottom: 50px;
  border: 1px solid;
  border-width: 1px;
  border-color: dimgray;
  background: #564cf0;
  background: linear-gradient(9deg, #564cf0 0%, #00d4ff 65%);
  border-radius: 5%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 10px 10px 5px 0px #6e6e6e;
  box-shadow: 10px 10px 5px 0px #6e6e6e;
}

#section-abilities .ability .hidden {
  display: none;
}

#section-abilities .ability .logo {
  width: 50px;
}

#section-abilities .advanced {
  background: #d05a00;
}

#section-abilities .ability:hover {
  -webkit-box-shadow: 10px 10px 5px 0px #6e6e6e;
  box-shadow: 10px 10px 5px 0px #6e6e6e;
}

#section-abilities .ability:hover .hidden {
  display: block;
}

#section-abilities .ability:hover p {
  display: none;
}

#section-abilities .ability:hover .logo {
  display: none;
}

#section-abilities .ability:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 5%;
  border-width: 2px;
  z-index: -1;
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.legend .ability {
  background: #564cf0;
  background: linear-gradient(9deg, #564cf0 0%, #00d4ff 65%);
}

.legend .advanced {
  background: #d05a00;
}

.legend p {
  margin: 50px;
  padding: 5px;
  border: 2px solid;
  border-width: 2px;
  background-color: lime;
}

@media screen and (min-width: 1200px) {
  #section-abilities .ability:hover {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
    overflow: auto;
    margin: -50px;
    padding: 50px;
  }
}

/* Stredne velka obrazovka*/
@media screen and (max-width: 1200px) {
  #header li {
    left: -71px;
  }
  html {
    font-size: 50%;
  }
  #section-abilities {
    -ms-grid-columns: 330px;
        grid-template-columns: 330px;
    row-gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-abilities .ability .hidden {
    display: block;
  }
  #section-abilities .ability p {
    display: none;
  }
  #section-abilities .ability .logo {
    display: none;
  }
  #section-abilities .ability:hover {
    -webkit-box-shadow: 10px 10px 5px 0px #6e6e6e;
    box-shadow: 10px 10px 5px 0px #6e6e6e;
  }
  .text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .images,
  .section-container {
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 50%;
    margin-left: -80px;
  }
  .text {
    margin-left: +530px;
  }
  .images {
    margin-left: +140px;
  }
}

/* Mensi obrazovka*/
@media screen and (max-width: 650px) {
  .section-container {
    margin-left: -50px;
    text-align: left;
    width: 50%;
  }
  .section-container .text {
    width: 500px;
    margin-left: 310px;
  }
  .section-container .info {
    max-width: 300px;
  }
  .section-container .info {
    margin-left: +20px;
  }
  .section-container .images {
    margin-left: +20px;
  }
}
/*# sourceMappingURL=default.css.map */